<nav class="nav bg-light navbar-light">
  <div class="nav container">
      <a class="navbar-brand">SteemIt</a>
      <a class="nav-link active" href="#">Buy steems</a>
      <a class="nav-link" href="#">Sell steems</a>
      <a class="nav-link" href="#">Post a trade</a>
      <a class="nav-link" href="#">Forums</a>
      <a class="nav-link dropdown-toggle nav-item dropdown" href="#" id="navbardrop" data-toggle="dropdown">Help</a>
      
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">How to buy Steems</a>
          <a class="dropdown-item" href="#">FAQ</a>
          <a class="dropdown-item" href="#">Guides</a>
          <a class="dropdown-item" href="#">Contact</a>
          <a class="dropdown-item" href="#">Blog</a>
          <a class="dropdown-item" href="#">Fees</a>
          <a class="dropdown-item" href="#">About us</a>
      </div>

      <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link" href="#">SignUp </a>
          </li>
          
          <li class="nav-item"> 
          <a class="nav-link" href="#">Login</a>
          </li>
      </ul>

  </div>
</nav>