.homepage-banner{
    position: relative;
    height: 180px;
    margin-top: 10px;
    border: 1px solid #e3e3e3;
    background-color: rgb(37, 106, 209);
    border-radius: 4px;
    text-align: center;
    padding-top: 30px;
}